
<!-- Header -->
    <header>
      <div>
      <img style="height: 20.4px; width: 20.4px;" src="../assets/d-one_Icons/d-one_Icons/d-onefactory/Menu/Digitalsoft.svg" /> <strong><p class="digitalsoft">digitalsoft</p></strong>
      </div>
      <nav class="header-nav">
        <li style="    margin-top: 5px;">
          <img style="height: 20.4px; width: 20.4px;" src="../assets/d-one_Icons/d-one_Icons/d-oneplan/menu/Interface.svg" /> digitalsoft.com
        </li>
        <li>
          <img style="height: 20.4px; width: 20.4px;" src="../assets/d-one_Icons/d-one_Icons/d-onefactory/Menu/Manufactoring.svg" /> Legal Terms
        </li>
        <li>
          <img style="height: 20.4px; width: 20.4px;" src="../assets/d-one_Icons/d-one_Icons/d-onefactory/Traceability/Team_Change.svg" /> About
        </li>
          <button class="button">Need Support?</button>
      </nav>
    </header>

<!-- Prima parte (Menu) -->
    <div class="container">
      <div class="page">
        <h2 class="text">Modules</h2>
        <h5 class="text1">Select your module.</h5>
      </div>

<!-- Parte centrale (Form) -->

      <div class="center-page">
        <div>
          <img style="margin-top: 38px;" src="../assets/d-one_Icons/d-one_Icons/d-oneplan/menu/d-one.png">
          <p class="d-one">d-one release 5.1.2</p>
        </div>
        <div>
          <form class="form">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password">
            </mat-form-field>
          </form>
        </div>
      </div>

<!-- 3° parte News -->

      <div class="end-page">

        <div>
          <h2 class="news">News Feed</h2>
          <h2 class="news1">Stay in touch with us!</h2>
        </div>

        <div>
          <div class="release-note">
            <p class="text2">22/04/2020</p>
            <p style="margin-left: 10.73px;">Release note 2.1</p>
          </div>

          <div>
            <img class="image" src="../assets/d-one_Icons/d-one_Icons/d-oneplan/menu/image-news.png">
            <p class="text3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero</p>
          </div>

          <hr class="divisor">
          <div class="release-note1">
            <p class="text2">10/03/2020</p>
            <p style="margin-left: 10.73px;">Maintanance</p>
          </div>

          <div>
            <img class="image" src="../assets/d-one_Icons/d-one_Icons/d-oneplan/menu/image-news.png">
            <p class="text3"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
          </div>

        </div>
      </div>
    </div>


